@inject Blazored.LocalStorage.ILocalStorageService localStore
@using ActivityTrackerV4.Business
@using ActivityTrackerV4.Models
@using Microsoft.AspNetCore.Components.Authorization
@using ActivityTrackerV4.Pages.Components;
@inject IJSRuntime JSRuntime;
@inject DateState DateState
@inject HttpClient _httpClient
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@page "/"

<style>

    .content {
        padding-top: 0 !important;
    }
</style>

<link href="/css/calendar.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12 col-xl-9" style="padding-top: 1.1rem;">
        <h1 style="color: white; display: inline-block">@CurrentDate.ToString("MMMM") @CurrentDate.Year</h1>
        <span @onclick="PrevMonth" class="oi oi-arrow-circle-left arrow"></span>
        <span @onclick="NextMonth" class="oi oi-arrow-circle-right arrow"></span>

        <ol class="calendar">

            @foreach ((DateTime date, Int32 index) in HelperFunctions.GetAllDatesInMonth(CurrentDate.Year, CurrentDate.Month)
            .Select((value, i) => (value, i)))
            {
                // Is current day?
                bool isCurrentDay = date.Date == TodaysDate.Date;

                // Get previous month days
                @if (index == 0 && date.DayOfWeek != DayOfWeek.Sunday)
                {
                    for (int i = 0; i < (int)date.DayOfWeek; i++)
                    {
                        DateTime pastDay = date.AddDays(-(int)date.DayOfWeek + i);

                        <li class="calendar-day calendar-day--past calendar-day--not-month"
                            style="@(pastDay.Date == TodaysDate.Date ? " border: yellow 3px solid;" : "" )"
                            data-weekday="@date.AddDays(-(int)date.DayOfWeek + i).ToString("ddd").Substring(0, 3)" data-week="">
                            <span class="calendar-day__number">@pastDay.Day</span>
                            <div class="calendar-day__content"></div>
                        </li>
                    }
                }

                // Get Saved dates
                Year savedYear = _container.Year.SingleOrDefault(x => x.Name == date.Year.ToString()) ?? new Year();
                Month savedMonth = savedYear.Month.SingleOrDefault(x => x.Name == date.ToString("MMMM")) ?? new Month();

                // Get bad habit from Month
                Day dayActivity = savedMonth.Day.SingleOrDefault(x => x.Date == date) ?? new Day();

                // Calendar Day Block
                <li class="calendar-day @(TodaysDate.Date > date.Date ? "calendar-day--good-past" : ""  )"
                    data-weekday="@date.ToString("ddd").Substring(0, 3)" data-week=""
                    @onclick="@(() => OpenDayJournal(date, dayActivity))"
                    style="@(isCurrentDay ? " border: yellow 3px solid;" : "" )">
                    <span class="calendar-day__number">@date.Day</span>
                    <div class="calendar-day__content">

                        <div class="note">

                            @if (dayActivity.Event.Any())
                            {
                                @foreach (var eventName in dayActivity.Event.Where(x => !string.IsNullOrWhiteSpace(x)))
                                {
                                    var color = DateState.Container.Settings.Event.FirstOrDefault(x => x.Name == eventName);

                                    if(color != null)
                                    {
                                        // Get the appropriate text color
                                        string textColor = HelperFunctions.GetTextColor(color.Color);

                                        <div style=@($"background-color:{color.Color}; color:{textColor};") class="badge badge-primary event">@eventName</div>
                                    }
                                    else
                                    {
                                        <div class="badge badge-primary">@eventName</div>
                                    }
                                }
                            }
                        </div>

                        @*<div class="note">@(dayActivity.Note.Length > 150 ? dayActivity.Note.Substring(0, 150) + "..." : dayActivity.Note)</div>*@

                        <div class="addNote">
                            <button @onclick="@(() => OpenDayJournal(date, dayActivity))" @onclick:stopPropagation="true" class="btn btn-primary">
                                <span class="oi oi-plus"></span>
                            </button>

                        </div>

                        @if (!string.IsNullOrWhiteSpace(dayActivity?.Note))
                        {
                            <div class="noteBox badge badge-info">
                                Note
                            </div>
                        }
                        @if (dayActivity?.DayRating != null)
                        {
                            <div class="totalBox badge badge-dark" style="background-color:@HelperFunctions.GetRatingColor(dayActivity.DayRating.Value);">
                                @(dayActivity.DayRating)
                            </div>
                        }

                    </div>
                </li>
            }
        </ol>
    </div>

    <div class="col-lg-12 col-xl-3" style="color: white; border-left: 1px white dashed; background-color: #0a0b0d">
        <div class="form-group">
            Total spent this month: @HelperFunctions.GetTotalMonthSpending(_container, CurrentDate)
        </div>
 
        <br/>
   
            @if (DateState?.Container?.Settings != null)
            {
            
                @foreach (var eventName in DateState.Container.Settings.Event)
                {

                    // Get the total occurrences of this event in the current month
                    int thisMonthTotal = DateState?.Container.Year
                        .SelectMany(y => y.Month)
                        .Where(m => m.Name == CurrentDate.ToString("MMMM")) // Match the current month
                        .SelectMany(m => m.Day)
                        .SelectMany(d => d.Event)
                        .Count(e => e == eventName.Name) ?? 0;

                    // Get the appropriate text color
                    string textColor = HelperFunctions.GetTextColor(eventName.Color);

                <div style=@($"background-color:{eventName.Color}; color:{textColor};") class="badge badge-primary eventTotals">@eventName.Name x @thisMonthTotal</div>

                }
            }
   
    </div>
</div>


<JournalModal Model="ModalModel" Container="_container" JournalDate="JournalDate" Note="@Note" DayEvents="DayEvents" DayLedger="DayLedger" DayRating="DayRating" SelectedEvent="default" />
